{% extends "__layout.twig" %} 

{% from "macros.html" import btn %}

{% block content %} 

<h1>{{ title }}</h1>
{{ description }}
<ul class="nav nav-pills">
    {% set base_url = '/' ~ title %}
    <li class="nav-item">   
        <a class="me-3" href="/space-object/{{ id }}/image">Картинка  </a>
    </li>
    <li class="nav-item">
        <a class="me-3" href="/space-object/{{ id }}/info">  Описание</a>
    </li>
</ul>

<div class="container">
    {% block objectContent %}{% endblock %}
</div>

{% endblock %}
