{% extends "__layout.twig" %} 

{% from "macros.html" import btn %}

{% block content %} 
<h1>{{ title }}</h1>
{{ description }}
<ul class="nav nav-pills">
    {% set base_url = '/' ~ title %}
    <li class="nav-item">   
        {{ btn("Картинка", base_url ~ "/image", _url == (base_url ~ "/image"), 'primary') }}        
    </li>
    <li class="nav-item">
        {{ btn("Описание", base_url ~ "/info", _url == (base_url ~ "/info"), 'primary') }}
    </li>
</ul>

<div class="container">
    {% block objectContent %}{% endblock %}
</div>

{% endblock %}
