{% extends "__layout.twig" %}

{% block content %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            Вулкан <a href="/volcano/image">Картинка</a> | <a href="/volcano/info">Описание</a>
        </li>       
        <li class="list-group-item">
            Помпей <a href="/pompeii/image">Картинка</a> | <a href="/pompeii/info">Описание</a>
        </li>
    </ul>
</div>
{% endblock %}
