{% extends "__layout.twig" %}

{% block content %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            Русалка <a href="/mermaid/image">Картинка</a> | <a href="/mermaid/info">Описание</a>
        </li>       
        <li class="list-group-item">
            Уран <a href="/uranus/image">Картинка</a> | <a href="/uranus/info">Описание</a>
        </li>
    </ul>
</div>
{% endblock %}
