{% extends "__object.twig" %}

{% block objectContent %}
<div> Помпеи были древним римским городом, расположенным недалеко от Неаполя в современной Италии. Самое известное событие в истории Помпей - их разрушение в результате извержения вулкана Везувий в 79 году нашей эры. Извержение сопровождалось выбросом вулканического пепла, пирокластическими потоками и лавовыми бомбами, которые накрыли город, убив большую часть его жителей и заметив его под слоем вулканического пепла и пемзы на высоту более 6 метров.</div>

<div>В результате Помпеи были хорошо сохранились под слоями вулканических отложений, что позволило археологам обнаружить и изучить артефакты, здания, улицы и различные предметы повседневного быта, дающие представление о жизни в древнем городе. Сегодня Помпеи являются объектом Всемирного наследия ЮНЕСКО и одним из самых популярных туристических направлений в Италии.</div>
{% endblock %}
