{# {% extends "__layout.twig" %}

{% block content %}
    Поиск

    <form action="">
        <select name="type">
            <option value="In_The_Sky">In_The_Sky</option>
            <option value="On_The_Ground">On_The_Ground</option>
        </select>

        <button type="submit">Найти</button>
    </form>

{% endblock %} #}