{% extends "__object.twig" %}

{% block objectContent %}
<div> Вулканы - это геологические образования, через которые магма (расплавленная порода), пепел и газы проникают из недр Земли на поверхность. Вулканическая активность вызвана перемещением тектонических плит и термальными процессами внутри Земли. Вулканы классифицируются по типу извержения, форме и размеру.</div>
{% endblock %}
